/*Fonts*/

@font-face {
  font-family: 'Artsy Cat';
  src: url("assets/fonts/ArtsyCatRegular-Regular.ttf.otf") format("opentype");
}

@font-face {
  font-family: 'Think Big';
  src: url("assets/fonts/ThinkBig.otf") format("opentype");
}
/*------------*/



/*Nav*/
  
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #33272c;
}

#logo{
  width: 10%;
  height: 80px;
  float: left;
}

#logo img{
  width: auto;
  height: 80px;
  margin-left: 20px;
}

nav{
  width: 60%;
  height: 80px;
  float: left;
  margin-left: 10%;
}

nav a{
  display: block;
  float: left;
  width: 12.5%;
  font-size: 25px;
  font-family: 'Think Big';
  text-align: center;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover{
  color: #e89636;
  transition: 0.3s;
  font-size: 26px;
}

#btn{
  width: 10%;
  float: left;
  margin-top: 10px;
  margin-left: 5%;
}

#btn a{
  background: #e89636;
  height: 60px;
  display: block;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: #33272c;
  line-height: 60px;
  font-family: 'Think Big';
}

#btn a:hover{
  background: #ffdb75;
  font-size: 24px;
  transition: 0.3s;
}
/*------------*/

/*Main*/

body{
	background-color: #969fa8;
}

.title-container {
	padding-top: 5.5%;
	
}

.title-container h1{
  font-size: 45px;
  font-family: 'Think Big';
  text-align: center;
  color: #FFFFFF;
}

.title-container p{
	font-family:'Artsy Cat';
	font-size: 36px;
	color: #FFFFFF;
	text-align: center;
}

/*Footer*/
footer{
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #33272c;
  color: #ffffff;
  font-size: 18px;
  align-items: center;
}

footer>img{
	width: 80px;
}

.outerborder{
	background-color: #a08679;
	border-radius: 16px;
	padding: 30px;
	margin: 40px;
}

.innerborder{
	background-color: #64798b;
	border-radius: 16px;
	padding: 15px;
	margin: 20;
}

section img{
	width: 220px;
	height: 150px;
}

section{
	background-color: #33272c;
	border-radius: 16px;
	padding: 30px;
	margin: 20px;
	color: #FFFFFF;
}

section h2{
	font-family: 'Think Big';
	font-size: 24px;
}

section p, ul, li{
	font-family:'Artsy Cat';
	font-size: 20px;
}


.leftImage img{
	float:left;
	margin-right: 30px;
}


.rightImage img{
	float:right;
	margin-left: 0px;
}
