/*Fonts*/

@font-face {
  font-family: font1;
  src: url('ArtsyCatRegular-Regular.ttf.otf') format('opentype');
}

@font-face {
  font-family: font2;
  src: url('ThinkBig.otf') format('opentype');
}
/*------------*/


body {
    font-family: font1, serif;
}

/*Nav bar start*/

*{
  margin: 0;
  padding: 0;
}

main{
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: #1c4060;
}

header{
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  background: #33272c;
  z-index: 18;
}

#logo{
  width: 10%;
  height: 80px;
  float: left;
}

#logo img{
  width: auto;
  height: 80px;
  margin-left: 20px;
}

nav{
  width: 60%;
  height: 80px;
  float: left;
  margin-left: 10%;
}

nav a{
  display: block;
  float: left;
  width: 12.5%;
  font-size: 25px;
  font-family: font2, serif;
  text-align: center;
  height: 80px;
  line-height: 80px;
  text-decoration: none;
  color: #ffffff;
}

nav a:hover{
  color: #e89636;
  transition: 0.3s;
  font-size: 26px;
}

#btn{
  width: 10%;
  float: left;
  margin-top: 10px;
  margin-left: 5%;
}

#btn a{
  background: #e89636;
  height: 60px;
  display: block;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  color: #33272c;
  line-height: 60px;
  font-family: 'Think Big';
}

#btn a:hover{
  background: #ffdb75;
  font-size: 24px;
  transition: 0.3s;
}
/*---------------------------*/


/*Title + subtitle*/

.title-container {
	padding-top: 5.5%;
}

/*---------------------------*/


/* Form start*/

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  background-color: #eee;
  box-shadow: 0 3px 7px rgb(0 0 0 / 0.3);
}

input[type="text"]{
	font-family: font1;
	font-size: 18px;
	padding-left: 10px;
	background-color: white;
}

.container form .form-fill{
	width: 553px;
	display: grid;
}

.container form textarea{
	background-color: white;
	width: 553px;
	display: grid;
	resize: none;
	font-family: font1;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
	font-size: 18px;
	padding-left: 10px;
	padding-top: 10px;

}

.container form .send-button{
	font-family: font1;
	font-size: 16px;
	border-radius: 25px;
	background-color: #D1B7A0;
	display: grid;
	height: 50px;
	width: 212px;
	box-shadow: 0 3px 5px rgb(0 0 0 / 0.3);
}

p {
	color: white;
}

h3 {
	color: white;
}

.contact-container{
	background-color: #64798B;
	height: 575px;
	width: 65%;
	margin: auto;
	border-radius: 10px;
	border: 5px solid #e89636;
	box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
	/*margin-left: 75px;
	margin-top: 25px;
	position: absolute;*/
}

.container-centered{
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
}

.container{
	float: left;
	display: inline-block;
}

.container h3{
	position: relative;
	padding-top: 35px;
}

.vertical-line{
	border-left: 1px solid white;
    height: 400px;
}


/*----------------------*/

/* Footer */

footer{
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 80px;
  background-color: #33272c;
  color: #ffffff;
  font-size: 18px;
  align-items: center;
}

footer>img{
	width: 80px;
}

.outerborder{
	background-color: #a08679;
	border-radius: 16px;
	padding: 30px;
	margin: 40px;
}

.innerborder{
	background-color: #64798b;
	border-radius: 16px;
	padding: 15px;
	margin: 20;
}

section img{
	width: 220px;
	height: 150px;
}

section{
	background-color: #33272c;
	border-radius: 16px;
	padding: 30px;
	margin: 20px;
	color: #FFFFFF;
}

section h2{
	font-family: 'Think Big';
	font-size: 24px;
}

section p, ul, li{
	font-family:'Artsy Cat';
	font-size: 20px;
}


.leftImage img{
	float:left;
	margin-right: 30px;
}


.rightImage img{
	float:right;
	margin-left: 0px;
}
